@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Data
@using BTCPayServer.teamssUTXO.Plugins.UptimeChecker
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a class="nav-link @ViewData.ActivePageClass(PluginNavPages.UptimeChecker)"
           asp-action="Index"
           asp-controller="UptimeChecker">
            <span class="me-2"></span>
            <span>Uptime Checker</span>
        </a>
    </li>
}
