@using BTCPayServer
@using BTCPayServer.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin))
{
    <li class="nav-item">
        <a layout-menu-item="UptimeChecker"
           asp-action="Index"
           asp-controller="UptimeChecker">
            <span>Uptime Checker</span>
        </a>
    </li>
}
